
<%= render :partial=>'searchform' %>


<%= will_paginate @d_objects %>

<table>
  <tr>
    <th></th>
    <th></th>
  </tr>

<% @d_objects.each do |d_object| %>
  <tr>
    <%= content_tag(:td, d_object.filename) %>
    <td><%= link_to 'Show', d_object %></td>
  </tr>
<% end %>
</table>

<br />

<%= content_tag(:div, d_objects_summary) %>
