
<%= render :partial=>'searchform' %>

<%= content_tag(:h2, "Trovati #{@d_objects.total_entries}") if @d_objects.size>0 %>

<%= will_paginate @d_objects %>

<table>
  <tr>
    <th></th>
    <th></th>
  </tr>

<% @d_objects.each do |d_object| %>
  <tr>
    <%= content_tag(:td, d_object.filename) %>
    <td><%= link_to 'Show', d_object_md5_link(d_object) %></td>
  </tr>
<% end %>
</table>

<br />

<%=
if params[:show_attachments].blank? and params[:attachment_category].blank?
   content_tag(:div, attachments_summary, {style: 'border: 1px solid grey;padding:4px'}) + content_tag(:div, d_objects_summary)
else
  content_tag(:div, clavis_manifestations_attachments_summary(params[:attachment_category]))
end
%>

