<h3>Caricamento di oggetto digitale</h3>
<%=
  lnk=link_to(@d_objects_folder.name, d_objects_folder_path(@d_objects_folder))
  content_tag(:div, "Cartella di destinazione: #{content_tag(:b, lnk)}".html_safe)
%>

<%= form_tag({action: :upload}, multipart: true) do %>
 <%= hidden_field_tag :d_objects_folder_id, @d_object.d_objects_folder.id %>
 <br/><%= file_field_tag 'filename' %>
  <%= submit_tag 'Salva' %>
<% end %>


