<%= simple_form_for(@extra_card) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
   <%= f.input :collocazione, as: 'string', input_html: {size: 20} %>
   <%= f.input :titolo, input_html: {cols: 80, rows: 3} %>
   <%= f.input :inventory_serie_id, collection: ['V','01'], label: 'Serie inventariale' %>
   <%= f.input :inventory_number, label: 'Numero di inventario' %>
   <%= f.input :owner_library_id, as: 'hidden' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, value: 'Salva modifiche' %>
  </div>
<% end %>
