<%= content_tag(:h3, d_objects_folder_split(@d_objects_folder)) %>

<% if !@d_objects_folder.x_mid.blank? %>
<%
   cm=ClavisManifestation.find(@d_objects_folder.x_mid)
%>
<p>Titolo in Clavis: <%= link_to(cm.title,ClavisManifestation.clavis_url(cm.id,:show)) %></p>
<% end %>

<% if @d_objects_folder.dir.size>0 %>
<%= content_tag(:div, 'Cartelle:') %>
<%= content_tag(:div, d_objects_folder_dir(@d_objects_folder)) %>
<% end %>

<%= content_tag(:div, d_objects_folder_show_cover_image(@d_objects_folder)) %>

<% if @d_objects_folder.writable_by?(current_user) %>
<%= content_tag(:span, link_to('[Impostazioni PDF]', set_pdf_params_d_objects_folder_path)) if @d_objects_folder.gfx_size>0 %>
<%= content_tag(:span, link_to('[Modifica metadati]', edit_d_objects_folder_path(@d_objects_folder))) if can? :edit, DObjectsFolder %>
<%= content_tag(:span, link_to('[Rinomina files]', filenames_d_objects_folder_path(@d_objects_folder.id))) %>
<%= content_tag(:span, link_to('[Carica file in questa cartella]', upload_d_objects_path(d_objects_folder_id:@d_objects_folder.id))) if can? :upload, DObject %>
<%= content_tag(:span, link_to('[Crea cartella]', makedir_d_objects_folder_path(@d_objects_folder.id))) if can? :makedir, DObjectsFolder %>
<% end %>


<%= will_paginate @d_objects, renderer: BootstrapPagination::Rails %>

<%= content_tag(:h3, "#{@d_objects.total_entries} files") %>

<%= d_objects_view(@d_objects) %>

 <% if @d_objects.size==0 and @d_objects_folder.dir.size==0 and @d_objects_folder.writable_by?(current_user) %>
  <%= content_tag(:span, link_to("[Elimina cartella vuota]", @d_objects_folder, method: :delete, data: {confirm: 'Confermi cancellazione della cartella?'})) if can? :destroy, DObjectsFolder %>
 <% end %>


<%= link_to("Scheda libro parlato #{@d_objects_folder.talking_book.n}", edit_talking_book_path(@d_objects_folder.talking_book)) if !@d_objects_folder.talking_book.nil? %>
