

<%= simple_form_for(@sbct_event) do |f|  %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.association :sbct_event_type, collection:SbctEventType.order('label'), label:'Tipologia', include_blank:false %>
    <%= f.input :name, label:'Nome evento' %>
<pre>    <%= f.input :description, hint:'', label:'Descrizione evento', input_html:{rows: 4, cols: 80} %> </pre>

Campi facoltativi:
<%= f.input :event_start, :as => :date, :include_blank => true, :default => nil %>
<%= f.input :event_end, :as => :date, :include_blank => true, :default => nil %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, value: 'Salva' , class:'btn btn-success'%>
  </div>
<% end %>
