
<%= simple_form_for(@clavis_item, :method=>'get', :html => {:class => 'form-vertical', role: 'form' }) do |f| %>
<%= hidden_field_tag('piano', params[:piano]) %>
<%= hidden_field_tag('order', params[:order]) %>
<%= hidden_field_tag('location', params[:location]) %>

  <%= f.input :title, hint: 'parole nel titolo', as: 'string', label: false, placeholder: 'parole nel titolo' %>
  <%= f.input :collocation, hint: 'collocazione (inserire la collocazione con spazio al posto del punto per avere la ricerca puntuale, esempio: 509 d 35)', label: false, placeholder: 'collocazione' %>
  <%= f.input :inventory_number, hint: 'Inventario', label: false, placeholder: 'numero inventario' %>
  <%= f.input :inventory_serie_id, hint: 'Serie inventariale', label: false, placeholder: 'serie inventariale' %>
  <%= f.input :manifestation_dewey, hint: 'Classificazione Dewey', label: false, placeholder: 'dewey' %>
  <%=
    if @clavis_item.respond_to?(:acquisition_year)
     f.input :acquisition_year, hint: 'Anno di acquisizione (solo per serieinv V)', label: false, placeholder: 'anno',
    input_html: { min: '1897', max: '1988' }
    else
      content_tag(:h6, "Acquisition_year non disponibile al momento")
    end
    %>

  <%= f.input :publication_year, hint: 'Anno di pubblicazione', label: false %>

  

<%= f.association :home_library, collection: ClavisItem.home_library, hint: 'Biblioteca',
    :input_html => {:onchange => "document.location='/clavis_items?library_id=' + clavis_item_home_library_id.value"}, include_blank:true, label: false %>

<% lofs = Location.options_for_select(@clavis_item.home_library_id)
   if lofs.size>0
  %>
Ubicazione: <%= select_tag(:location, options_for_select(lofs, params[:location]), :onchange=>'submit();', include_blank:true) %>
<% end %>

  
  <div class='control-group'>
   Con prenotazioni pendenti in grado di essere soddisfatte da almeno una biblioteca <%= check_box_tag 'con_prenotazioni', 'S', params[:con_prenotazioni] %>
  </div>


  <div class='control-group'>
    Copertine caricate come allegati  <%= select_tag('cover_images', options_for_select([['Con copertina','t'],['Senza copertina','f']], params[:cover_images]), onchange:'', include_blank:true) %>

    EAN/ISBN/ISSN <%= select_tag('ean_presence', options_for_select([['Con EAN o ISBN o ISSN','t'],['Senza EAN o ISBN o ISSN','f']], params[:ean_presence]), onchange:'', include_blank:true) %>
  </div>
  
   <div class='control-group'>
     Includi dati di pubblicazione <%= check_box_tag 'with_manifestations', 'S', params[:with_manifestations] %>
     Visualizza copertine <%= check_box_tag 'view_covers', 'S', params[:view_covers] %>
     <br/>Copie uniche sul sistema <%= check_box_tag 'unique_items', 'S', params[:unique_items] %>
  Con nota al prestito <%= check_box_tag 'loan_alert_note', 'S', params[:loan_alert_note] %>
  </div>

  <% if can? :manage, Container %>
   <%= content_tag(:b, link_to(@clavis_item.container.info, container_path(@clavis_item.container))) if !@clavis_item.container.nil? and !@clavis_item.container.closed %>
   <%= f.input :in_container, as: 'boolean', label: 'Solo volumi nei contenitori' %>
   <% link_to('[elenco contenitori]', containers_path) %>
  <% end %>


  <%= f.input :created_by, hint: 'created_by librarian_id', label: false, placeholder: 'created_by librarian_id' %>
  <%= f.input :modified_by, hint: 'modified_by librarian_id', label: false, placeholder: 'modified_by librarian_id' %>
  
  <%= f.input :item_status, collection: ClavisItem.item_status, hint: 'Item status', include_blank: true, label: false %>
  <%= f.input :item_media, collection: ClavisItem.item_media, hint: 'Item media', include_blank: true, label:false %>
  <%= f.input :loan_status, collection: ClavisItem.loan_status, hint: 'Loan status', include_blank: true, label:false %>
  <%= f.input :loan_class, collection: ClavisItem.loan_class, hint: 'Loan class', include_blank: true, label:false %>
  <%= f.input :item_source, collection: ClavisItem.item_source, hint: 'Item source', include_blank: true, label:false %>
  <%= f.input :opac_visible, collection: [['Visibile in Opac', 1] ,['Non visibile in Opac', 0]],
      label: false, hint: 'Visibilità in opac' %>

  <% if params[:mode]=='lastmod' or !params[:days].blank? %>
  Modificato negli ultimi <%= number_field_tag 'days', params[:days], min: 1 %> giorni
  <% end %>

  <% if current_user.email=='seba' %>
  <!--
    <p>Filtro addizionale, esempio: inventory_date BETWEEN '2016-01-01' AND '2016-12-31' oppure inventory_date < '2018-01-01'</p>
    <%= text_field_tag 'sql_and', params[:sql_and], size:80 %>
  -->
  <% else %>
   <%= hidden_field_tag('sql_and', params[:sql_and]) %>
  <% end %>

  <%= hidden_field_tag('shelf_id', params[:shelf_id]) %>
  <%= content_tag(:span, "shelf_id: #{params[:shelf_id]}") if !params[:shelf_id].blank? %>

  
  <br/><%= f.submit 'cerca', :class=>'btn btn-info' %>

  <%= link_to('Inserisci esemplare', new_extra_card_path(home_library_id:@clavis_item.home_library_id)) if can? :manage, ExtraCard %>
  <% link_to('Riepilogo esemplari', clavis_items_path(home_library_id:0)) %>


   <%=
     if !user_session[:sql_itemsearch_conditions].nil?
      link_to('Esame risultati', clavis_items_path(op:'item_media_report',n:@clavis_items.total_entries), target:'esame_risultati',title:"Esame risultati su #{@clavis_items.total_entries} esemplari trovati", class: 'btn btn-warning')
     end
    %>

  
  <%= button_to_function("mostra tutti i campi di ricerca", "$('#mostra_tutti_i_campi').hide();$('.control-group','#new_clavis_item').show();", id: "mostra_tutti_i_campi", class: "btn btn-success") if @attrib.size>0 %>


<% if !params[:item_ids].blank? %>
 <% content_tag(:p, "Esemplari non trovati: #{@esemplari_non_trovati.inspect}") %>
 <% content_tag(:p, "user_session[:item_ids] #{user_session[:item_ids].inspect}") %>
 <% content_tag(:p, "user_session[:item_ids] #{user_session[:item_ids].size}") %>
 <% clavis_items_rawlist(ClavisItem.find(@esemplari_non_trovati)) %>
 <% lnk = link_to("svuota coda di stampa", clear_user_data_clavis_items_path) %>
 <%= content_tag(:div, link_to('Stampa elenco per estrazione da magazzino', params.merge(format:'pdf',pdf_template:'rawlist',per_page:999999))) %>
 <%= content_tag(:p, "Esemplari da stampare: <b>#{@clavis_items.total_entries}</b> [#{lnk}]".html_safe) %>
<% else %>
  <% if @clavis_items.count>1 %>
    <%= link_to('scarica barcodes', params.merge(format:'csv',per_page:999999)) + ' | ' %>
    <%= link_to('segnaposto', params.merge(format:'pdf')) + ' | '  %>
    <%= link_to('elenco per estrazione da magazzino', params.merge(format:'pdf',pdf_template:'rawlist',per_page:999999)) + ' | ' %>
    <%=
      #if ['seba','patraiz'].include?(current_user.email)
        titolo = @clavis_items[0].title.nil? ? '[errore da verificare]' : @clavis_items[0].title.sub(' [note: ]', '')
      link_to('Topografico', params.merge(format:'pdf',heading:titolo,pdf_template:'topografico',per_page:999999)) + ' | '
      #end
      %>

 <% end %>

 <% if @clavis_item.item_media!='S' %>
  <% if params[:order]=='collocation' %>
   <%= link_to('ordina_per_piano', params.merge(order:'')) if @clavis_items.count>1 %>
  <% else %>
   <%= link_to('ordina_per_collocazione', params.merge(order:'collocation')) if @clavis_items.count>1 %>
   <% end %>
   |
   <%= link_to('ordina_per_nota_prestito', params.merge(order:'loan_alert_note')) if @clavis_items.count>1 %>   
 <% end %>
  
<% end %>

<% end %>

<%=
if @attrib.size>0
js="$('.control-group','#new_clavis_item').hide();"
 if @attrib.size==1
   @attrib << ['title','']
   @attrib << ['collocation','']
   @attrib << ['inventory_number','']
   if !params[:item_media].blank?
     @attrib << ['item_media','']
     js << %Q{$('#clavis_item_item_media').val('#{params[:item_media]}');}
   end
  end
  @attrib.each {|a| js << %Q{$("#clavis_item_#{a.first}").parent().parent().show();} }
  javascript_tag(js)
end
%>
<% content_tag(:p, @attrib.inspect) %>

<% content_tag(:pre, "sql: #{@sql_conditions}") if current_user.email=='seba' %>
