
<p>
<a href="/sa">Ricerca esemplari per Scaffale Aperto</a>
<%= content_tag(:span, OpenShelfItem.count, id:'items_scaffale_aperto_count',class:'btn btn-info') %> esemplari
</p>

<%= render :partial => 'searchform_ricollocazioni' %>


<%= will_paginate @clavis_items, renderer: BootstrapPagination::Rails %>
<%=
   if @sort=='dewey'
     content_tag(:p, link_to("[passa a ordinamento per collocazione]",
       ricollocazioni_clavis_items_path(sections:@sections,dewey_collocation:@dewey,onshelf:@onshelf,formula:@formula,collocation:@collocation)))
   else
     content_tag(:p, link_to("[passa a ordinamento per Dewey]",
       ricollocazioni_clavis_items_path(sections:@sections,sort:'dewey',dewey_collocation:@dewey,onshelf:@onshelf,formula:@formula,collocation:@collocation)))
   end
%>
<%= clavis_items_ricollocazioni(@clavis_items) %>



<%= will_paginate @clavis_items, renderer: BootstrapPagination::Rails %>
