
<%= link_to('Aggiungi contenitore', new_container_path, :class=>'btn') %>

<table class='table'>
<tr>
<th>Etichetta</th>
<th>Numero volumi</th>
<th>Si trova in</th>
<th>Aperto/Chiuso</th>
</tr>

<% Container.lista.each do |container| %>
  <tr>
    <td><%= link_to(container.label, container) %></td>
    <td><%= container.numvol %></td>
    <td><%= container.description %></td>
    <td><%= best_in_place(container, :closed, as: :checkbox, collection: {false: "Aperto", true: "Chiuso"},class:'btn btn-default') %></td>
  </tr>
<% end %>
</table>

