<%=
  if @talking_books_manager
   content_tag(:h2, link_to("Catalogo dei libri parlati", '/talking_books') + link_to('[admin]', check_talking_books_path))
  else
    content_tag(:h2, 'Catalogo dei libri parlati')
  end
%>

<% if @talking_books_manager %>

  <%= render partial:'admin_search_form' %>

  <%= link_to 'Inserimento nuovo titolo', new_talking_book_path %>

<% else %>
  
  <%= render partial:'informazioni_per_utente' if params[:qs].blank? %>
  <!-- <h3>Compila il modulo di ricerca</h3> -->
  <%= render partial:'search_form' %>

<% end %>

<%= javascript_tag("jQuery('#qs').select().focus()") %>

<%= content_tag(:h3, "Trovati #{@talking_books.total_entries} titoli") %>



<hr/>
<%= if @talking_books_manager
      content_tag(:div, talking_books_index_editable(@talking_books))
    else
      content_tag(:div, talking_books_index(@talking_books))
    end
%>

<%= will_paginate @talking_books, renderer: BootstrapPagination::Rails %>
