<%= render :partial => 'title', :locals=>{:showlink=>false} %>
<%= render :partial => 'searchform' %>

<%= will_paginate @subjects %>

<hr/>
<table>
<% @subjects.each do |s| %>
  <tr>
    <td><%= link_to s.heading, s, :target=>'_blank' %></td>
    <td><%= if !s.clavis_authority_id.nil?
              link_to s.clavis_subject_class, ClavisAuthority.clavis_url(s.clavis_authority_id), :target=>'_blank'
            else
	      s.clavis_subject_class
            end %>
    </td>
  </tr>
<% end %>
</table>


