<%= simple_form_for(@talking_book_reader) do |f| %>
  <%= f.error_notification %>

  <div class="form-actions">
    <%= f.button :submit, :value=>'Salva' %> |
    <%= link_to 'Annulla modifiche', @talking_book_reader, data: { confirm: "Vuoi annullare le modifiche?" } %>
  </div>
  
  <div class="form-inputs">
    <%= talking_book_reader_edit(f, @talking_book_reader) %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :value=>'Salva' %> |
    <%= link_to 'Annulla modifiche', @talking_book_reader, data: { confirm: "Vuoi annullare le modifiche?" } %>
  </div>

<% end %>
