<%= simple_form_for(@bio_iconografico_card) do |f| %>
<%= f.error_notification %>

<div class="form-inputs">
  <%
     str = @bio_iconografico_card.intestazione.nil? ? '' : @bio_iconografico_card.intestazione
     txtvar=String.new(str)
     txtvar.gsub!('&apos;', "'")
     txtvar.gsub!('&gt;', ">")
     txtvar.gsub!('&lt;', "<")
     %>
  <%= text_field_tag 'bio_iconografico_card[intestazione]', txtvar, size:80 %>
  <% f.input :intestazione, as: 'string', input_html: {size: 40} %>
  <%= f.input :namespace, as: 'hidden' %>

  <% if can? :manage, BioIconograficoCard %>
  <%= f.input :lettera, collection: BioIconograficoCard.lettere, include_blank: false, label: false %>
  <% end %>
  <%= f.input :numero, as: 'integer', label:false, autofocus: true %>

  <br/><p>BID SBN: <%= f.input :bid, label:false %></p>

  <p>Sezione (id): <%= f.input :parent, label:false %></p>

</div>

<div class="form-actions">
  <%= f.button :submit, value: 'Salva modifiche' %>
</div>
<% end %>
