<% if params[:lettera].blank? %>
<%= content_tag(:div, "Totale schede inserite: #{BioIconograficoCard.count}") %>
<% else %>
<%= info = params[:numero].blank? ? '' : " (a partire dalla numero #{params[:numero]})"
 content_tag(:div, "<b>#{BioIconograficoCard.conta(params)}</b> schede per la lettera #{params[:lettera]}#{info}".html_safe) %>
<% end %>

<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>


<% if @show_searchbox %>
 <%= render partial:'searchform' %>
<% end %>

<% if @bio_iconografico_cards.respond_to?('total_pages') %>
<%= will_paginate @bio_iconografico_cards, renderer: BootstrapPagination::Rails %>
<% end %>

<%= bio_iconografico_cards_list(@bio_iconografico_cards) %>

<%= content_tag(:div, (render(partial:'topics_cloud'))) %>
