<h2><%= content_tag(:b, BioIconograficoCard.namespaces[params[:namespace].to_sym]) -%> - caricamento scheda digitalizzata</h2>

<%= content_tag(:h2, "Lettera #{params[:lettera]}", style:"font-size:140%") %>

<%= form_tag({action: :upload}, multipart: true) do %>
 <br/><%= file_field_tag 'filename' %>
  <%= hidden_field_tag 'namespace', params[:namespace] %>
  <%= hidden_field_tag 'lettera', params[:lettera] %>
  <%= submit_tag 'Salva' %>
<% end %>


<%= render :partial=>'show' if !@bio_iconografico_card.id.nil? %>

