
<%= form_tag(procultura_make_link(procultura_cards_path), method: "get") do %>
<div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"></div>
<div style="padding-left: 2em; padding-top: 1em">
  <%= content_tag(:div, label_tag(:procultura_searchform_q, "Ricerca per parole:", style:'font-size:90%')) %>
  <%= text_field_tag(:q, params[:q], id:'procultura_searchform_q', style:%Q{border: 2px solid #0039f5 !important; padding-left:10px !important}) %>
  <%= hidden_field_tag(:resource,'procultura_cards') %>
  <%= submit_tag("Cerca", style:%Q{background-color: #0039f5; color: #fff; border: 3px solid #0039f5}) %>
 </div>
<% end %>

<%= javascript_tag("jQuery('#procultura_searchform_q').select().focus()") %>
