<h2>Elenco postazioni Porteus-Kiosk</h2>

<%= link_to 'Inserimento nuova postazione...', new_work_station_path %>


<%= form_tag(work_stations_path, method: 'get') do %>
<%= select_tag(:clavis_library_id, options_for_select(ClavisItem.home_library,
      params[:clavis_library_id]), prompt:'Tutte le sedi', :onchange=>'submit();') %>
  <%= submit_tag 'cerca', :class=>'btn btn-info' %>
<% end %>


<div style="width:60%">
<table class='table table-condensed'>
  <tr>
    <td>Inventario</td>
    <td>Sede</td>
    <td>Architettura</td>
    <td>Ubicazione</td>
    <td>Monitor</td>
    <td></td>
    <td></td>
  </tr>

<% @work_stations.each do |work_station| %>
  <tr>
    <td><%= link_to work_station.id, edit_work_station_path(work_station) %></td>
    <td><%= work_station.clavis_library.shortlabel %></td>
    <td><%= "#{work_station.processor} bit" %></td>
    <td><%= work_station.location %></td>
    <td><%= work_station.monitor_id %></td>
    <td><%= link_to 'Show', work_station %></td>
    <td><%= link_to 'Destroy', work_station, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% end %>
</table>
</div>

<br />


