<%=
  if @serial_list.locked?
   content_tag(:h3, @serial_title.title)
  else
   #  content_tag(:h3, link_current_params(@serial_title.title, edit_serial_title_path(@serial_title), params))
      content_tag(:h3, @serial_title.title)
  end
%>

<% if !@serial_title.manifestation_id.blank? %>
  <% cm=ClavisManifestation.find(@serial_title.manifestation_id) %>
  <p>Vedi in Clavis: <%= link_to(cm.title,ClavisManifestation.clavis_url(cm.id,:show)) %></p>
<% end %>


<ul>
<% @serial_title.clavis_libraries.each do |l| %>
<%=
  lnk = serial_reminders_path(serial_title_id:@serial_title.id,library_id:l.id)
  lnk=link_to(l.label,lnk)
  content_tag(:li, "Tipo fornitura: <b>#{l.tipo_fornitura}</b> | #{lnk}".html_safe)
%>
<% end %>
</ul>


<%= link_to("<b>Modifica titolo</b>".html_safe, edit_serial_title_path(@serial_title), class:'btn btn-warning') %>
<%= link_to("<b>Modifica biblioteche</b>".html_safe, subscr_serial_title_path(@serial_title), class:'btn btn-warning') %>



