<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <%= @pagetitle.nil? ? content_tag(:title, params[:controller] + ': ' + params[:action]) : content_tag(:title, @pagetitle) %> 
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

<%
access_link=[]
if user_signed_in?
 access_link << link_to(current_user.email, edit_user_registration_path)
 access_link << link_to("<b>[esci]</b>".html_safe, destroy_user_session_path, :method => :delete)
else
 access_link << link_to("Entra", new_user_session_path)
end
%>

    <div class="container">

      <!-- Static navbar -->
<% if @embedded.nil? %>
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">ClavisBCT</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/talking_books">Libro parlato</a></li>
            <li><a href="/audio_visuals">Audiovisivi</a></li>
	    <% if can? :search, DObject %>
               <li><a href="/d_objects_folders">Oggetti digitali</a></li>
            <% end %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Altre risorse <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/clavis_manifestations">Controllo BID</a></li>
		<li><a href="/clavis_manifestations/bid_duplicati">BID duplicati</a></li>
                <li><a href="/clavis_authorities?authority_type=A&bidnotnull=true">Controllo authorities 'A'</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Altre risorse</li>
                <li><a href="/clavis_items">Cerca esemplari</a></li>
                <li><a href="/ordini">Ordini periodici</a></li>
		<li><a href="/subjects">Soggettario BCT</a></li>
		<!--
                <li><a href="/clavis_items?clavis_item[owner_library_id]=2&clavis_item[item_status]=S&clavis_item[item_media]=F">Non trovato - da cercare (Centrale)</a></li>
-->
		<!--<li><a href="/clavis_manifestations/shortlist?digit=true">Titoli con digitalizzazioni</a></li> -->
                <!-- <li><a href="/d_objects?show_attachments=true">Show attachments...</a></li> -->
                <li><a href="/iss_articles/">ISS articles</a></li>
                <li><a href="/bct_letters/">Lettere autografe</a></li>
		<li><a href="/clavis_items/fifty_years?owner_library_id=2">Fifty years (Centrale)</a></li>
		<li><a href="/clavis_items/fifty_years?owner_library_id=3">Fifty years (Musicale)</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="https://github.com/plataformatec/simple_form">Simple form</a></li>
            <li><a target="_blank" href="https://github.com/sebastianomidolo/clavisbct">Sources</a></li>
            <li><a target="_blank" href="http://getbootstrap.com/">Bootstrap</a></li>
            <% access_link.each do |l| %>
             <%= content_tag(:li, l) %>
            <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
<% end %>

<!--
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
-->

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
<!--
        <h1>ClavisBCT</h1>
        <p>Ricerca per collocazione, serie, inventario, tipo di media etc.</p>
-->
	    <%= yield %>

      </div>

    </div> <!-- /container -->

  </body>
</html>

<!-- preso da: "http://getbootstrap.com/examples/navbar/" -->


