<%= content_tag(:h2, "Modifica della password per <b>#{current_user.email}</b>".html_safe) %>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true, label:'Nome utente' %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password, autocomplete: "off", hint: "lasciare vuoto se non vuoi cambiare la password", required: false, label:'Nuova password' %>
    <%= f.input :password_confirmation, required: false, label:'Conferma della nuova password' %>
    <%= f.input :current_password, hint: "Per poter cambiare la password devi immettere qui quella attuale", required: true, label:'Password attuale' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Aggiorna" %>
  </div>
<% end %>

<!--
<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
-->
